module.exports = {
  tradingView: {
    login: {
      sessionid_sign: "",
      sessionid: "",
    },
    stock: {
      SSI: "https://www.tradingview.com/chart/?symbol=HOSE%3ASSI",
      FPT: "https://www.tradingview.com/chart/?symbol=HOSE%3AFPT",
      LTC: "https://www.tradingview.com/chart/?symbol=BYBIT%3ALTCUSDT",
      VNINDEX: "https://www.tradingview.com/chart/?symbol=HOSE%3AVNINDEX",
    },
    timeInterval: {
      "1h": "1 hour",
      "4h": "4 hours",
      "1D": "1 day",
      "1W": "1 week",
    },
  },
  telegram: {
    botToken: "",
  },
  ssi: {
    HubUrl: "wss://fc-datahub.ssi.com.vn/",
    ApiUrl: "https://fc-data.ssi.com.vn/",
    consumerID: "",
    consumerSecret: "",
    stockRaito: 5,
  },
};
